body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: beige;
}

a {
    color: lightcoral;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: maroon;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
}

.nav-list  a {
    display: block;
    padding: 20px;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
}

.nav-list a:hover {
    background-color: grey;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vw;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-message > h1 {
    font-size: 65px;
}

.welcome-message > p {
    font-size: 20px;
    font-style: italic;
}

.project-section {
    text-align: center;
    background-color: burlywood;
    padding: 10rem 2rem;
}

.display-title {
    font-size: 50px;
    margin-bottom: 200px;
}

.projects-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(610px, 2fr));
    grid-gap: 10rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.project {
    background-color: bisque;
    border-radius: 2px;
}

.project-image {
    width: 100%;
}

.project-title {
    font-size: 30px;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    font-size: 2rem;
    background-color: bisque;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
}

.contact-info-title {
    font-size: 50px;
}

.contact-info-description {
    font-size: 25px;
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 10px;
}

.social-btn {
    font-size: 2rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
}
