body {
    font-family:Arial, Helvetica, sans-serif;
    color: dimgray;
}

a {
    color: lightcoral;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: maroon;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
}

.nav-list  a {
    display: block;
    padding: 20px;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
}

.nav-list a:hover {
    background-color: grey;
}

